---
layout: default
---


<!-- Main -->
<div id="main">
    <section>
        {% for post in site.posts limit:1 %}
            <header class="major">
                <h2>{{ post.title }}</h2>
                <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
            </header>

            <section>
                {{ post.content }}
                <!-- <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=1eNRd9evoRc2lgrPyNano20Fmmi1mRx2z_LQljBHseZM/pubhtml&font=Default&lang=en&start_at_end=true&initial_zoom=2&height=600' width='100%' height='600' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe> -->
                <link title="timeline-styles" rel="stylesheet" href="https://cdn.knightlab.com/libs/timeline3/latest/css/timeline.css">
                <script src="https://cdn.knightlab.com/libs/timeline3/latest/js/timeline.js">
                </script>
                <div id='timeline-embed' style="width: 100%; height: 500px"></div>
                <script type="text/javascript">
                var options = {
                    timenav_height_percentage: 45

                }
                timeline = new TL.Timeline('timeline-embed',
                'https://docs.google.com/spreadsheets/d/1eNRd9evoRc2lgrPyNano20Fmmi1mRx2z_LQljBHseZM/pubhtml', options);
                </script>
            </section>
        {% endfor %}
    </section>
    <section>
        <div class="row">
            {% for post in site.posts offset:1 %}

                <article class="{% cycle '6u', '6u$' %} 12u(small)">
                    <header>
                        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
                    </header>
                    <section>
                        {{ post.excerpt }}
                    </section>
                    <footer>
                        <ul class="actions">
                            <li><a href="{{ post.url }}" class="button">Read More</a></li>
                        </ul>
                    </footer>
                </article>

            {% endfor %}
        </div>
    </section>
</div>
