<!DOCTYPE html>
<html lang="en">
  	<head>
  		<title>Alan's Kunstkammer</title>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<meta name="viewport" content="width = device-width, initial-scale = 1">
      <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
  		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
  		<script src="/js/jquery.min.js"></script>
  		<script src="/js/jquery.poptrox.min.js"></script>
  		<script src="/js/skel.min.js"></script>
  		<script src="/js/init.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
  		<noscript>
  			<link rel="stylesheet" href="/css/skel.css" />
  			<link rel="stylesheet" href="/css/style.css" />
  			<link rel="stylesheet" href="/css/style-xlarge.css" />
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  		</noscript>
  		<!--[if lte IE 8]><link rel="stylesheet" href="/css/ie/v8.css" /><![endif]-->
  	</head>
  <style type="text/css">
    .avatar {
      margin-right: 12%;
      margin-bottom: 5%;
      float: left;
    }
    .greeting {

      font-family: 'Lato', sans-serif;
      font-size: 125%;
      margin-top: 5%;
      float: left;
    }

    .description {
      font-size: 100%;
    }





  </style>

	<body id="top">
      <header id="header">
      <div class="avatar">
          <a href="index.html" class="image avatar"><img src="/images/avatar.jpg" alt="" /></a>
      </div>
      <div class="container">
      <div class="greeting">
        <h1>   
          <strong>Hi, I'm Alan! </strong>
        </h1>
      </div>
      </div>
      <div class="container">
      <div class="description">
          <h1 align="center">Welcome to my <strong><a href="/">Kunstkammer</a></strong>,<br />
          a collection of little treasures and curiosities. <br /></h1>
        </div>
        </div>
      </header>


      {{ content }}

        <!-- Footer -->
        <footer id="footer">
            <ul class="icons">

              {% if site.github_username %}
              <li>
                <a href="https://github.com/{{ site.github_username }}" class="icon fa-github">
                  <span class="label">GitHub</span>
                </a>
              </li>
              {% endif %}

              {% if site.twitter_username %}
              <li>
                <a href="https://twitter.com/{{ site.twitter_username }}" class="icon fa-twitter">
                  <span class="label">Twitter</span>
                </a>
              </li>
              {% endif %}

              {% if site.linkedin_username %}
              <li>
                <a href="https://linkedin.com/in/{{ site.linkedin_username }}" class="icon fa-linkedin">
                  <span class="label">LinkedIn</span>
                </a>
              </li>
              {% endif %}

              {% if site.google_plus_username %}
              <li>
                <a href="https://plus.google.com/{{ site.google_plus_username }}" class="icon fa-google-plus">
                  <span class="label">Google+</span>
                </a>
              </li>
              {% endif %}

              {% if site.facebook_username %}
              <li>
                <a href="https://www.facebook.com/{{ site.facebook_username }}" class="icon fa-facebook">
                  <span class="label">Facebook</span>
                </a>
              </li>
              {% endif %}

              {% if site.dribbble_username %}
              <li>
                <a href="#" class="icon fa-dribbble">
                  <span class="label">Dribbble</span>
                </a>
              </li>
              {% endif %}

              {% if site.email %}
              <li>
                <a href="mailto:{{ site.email }}" class="icon fa-envelope-o">
                  <span class="label">Email</span>
                </a>
              </li>
              {% endif %}
            </ul>
            <!-- <ul class="copyright">
                <li>&copy; Untitled</li>
                <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
                <li>Demo Images: <a href="https://unsplash.com/">Unsplash</a></li>
                <li>Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a></li>
            </ul> -->
        </footer>

	</body>
</html>
